*{
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto_light";
  /* transform : rotate(0.04deg);  */
}

body{
  background-color: #1c1c1c;
}

@font-face {
  font-family: "Roboto_regular";
  src: url("./font/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto_light";
  src: url("./font/Roboto-Light.ttf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading{
  width:100vw;
  height:100vh;
  background-color:black; 
  z-index: 100000; 
  position: fixed;
  top: 0; 
  left: 0;
  margin:0;
}

.loading-img{
  margin: 0 auto;
  display: block;
  padding-top: 50vh; 
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

/* Nav */
.nav {
  width: 100%;
  height: 8vh;
  font-family: "Roboto_light";
  display: flex;
  justify-content: space-around;
  position: sticky;
  top:0;
  left: 0;
  right: 0;
  background-color: #1c1c1c;
  z-index: 100;
}

.nav-center{
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
}

.nav-title{
  width:15vh;
  height: auto;
  display: flex;
  align-items: center;
  color: #fff;
}

.nav-title img{
  width:100%;
}

.nav-menu{
  height: auto;
  display: flex;
  padding: 0;
}

.nav-menus{
  display: flex;
  align-items: center;
  color: #fff;
}

/* Main */
.main-block-top{
  width:100%;
  height:92vh;
}

/* web */
@media screen and (min-width:768px){
  .loading-img{
    width: 17vw;
  }
  .main-video{
    background-image: url('./img/img-web.jpg');
  }
  .nav-menu{
    font-size: 1.1vw;
    width: 30vh;
    justify-content: space-between;
  }
  .main-title{
    height: 40%;
  }
  .main-title-1{
    font-size: 5vw;
  }
  .main-title-2{
    font-size: 1.6vw;
  }
  .main-video{
    height: 50%;
  }
  .main-content01{
    width:80vw;
    gap: 10%;
  }
  .main-content01-cate{
    width: 80%;
    justify-content: space-around;
  }
  .main-content01-pic{
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 22vh;
    width: 60vw;
    grid-gap: 5% 0%;
  }
  .main-content01-more {
    width: 58vw;
  }
}


/* 모바일 */
@media screen and (max-width:767px) {
  .loading-img{
    width: 50vw;
  }
  .main-video{
    background-image: url('./img/img-m.jpg');
  }
  .nav-menu{
    font-size: 3vw;
    width: 23vh;
    justify-content: right;
    gap: 10%;
  }
  .main-title{
    height: 30%;
  }
  .main-title-1{
    font-size: 8vw;
  }
  .main-title-2{
    font-size: 3vw;
  }
  .main-video{
    height: 60%;
  }
  .main-content01{
    width:90vw;
    gap: 10%;
  }
  .main-content01-cate{
    width: 90%;
    justify-content: space-between;
    font-size: 3.5vw;
  }
  .main-content01-pic{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 12vh;
    width: 90vw;
    grid-gap: 3% 0%;
  }
  .main-content01-more {
    width: 80vw;
  }
}


.main-title{
  /* width: 1200px; */
  width: 70vw;
  /* height: 40%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title-1{
  font-family: "Roboto_regular";
  /* font-size : 5vw; */
  line-height: 1.99;
  color: #fff;
}

.main-title-2{
  font-family: "Roboto_regular";
  /* font-size: 1.6vw; */
  line-height: 1;
  color: #fff;
}

.main-video{
  width: 100vw;
  /* height: 50%; */
  /* margin: 0px auto;
  padding: 40% 6% 0px; */
  /* background-color: #ffd6d6; */
  background-size: cover;
}

.main-line{
  width: 100vw;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-line-hr{
  border : 0px;
  border-top: 5px solid #f3f3f3;
}

.main-block{
  width:100%;
  height:92vh;
}

.main-block-middle{
  width:100%;
  height:92vh;
  background: linear-gradient(#1c1c1c, #bbbbbb);
}

.main-content01{
  /* width:80vw; */
  height: 100%;
  margin: 0 auto;
  /* background-color: #d7d4d4; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 10%; */
}

.main-content01-cate{
  /* width: 80%; */
  height: auto;
  display: flex;    
  padding-top: 2%;
  margin: 0 auto;
}

.main-content01-cate div{
  color: #fff;
}

.main-content01-pic{
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-auto-rows: 19vh; */

  justify-items: center;
  /* width: 60vw; */
  margin: 0 auto;
}

.main-pictures{
  /* width:19.271vw;
  height: 20vh; */
  width:90%;
  height: 100%;
  background-color: black;
  border-radius:10px;
}

.add{
  background: linear-gradient(#1c1c1c, rgb(255 255 255 / 0%));
}

.main-content01-more{
  display: block;
  margin: 0 auto;
}

.main-content01-more div{
  float: right;
  color: #fff;
}

svg{
  fill : none;
  width: 100px;
  stroke-width: 1px;
}


path{
  stroke: #000;
  stroke-dasharray: 47;
  stroke-dashoffset: 47;
  animation: path 1000ms forwards;
  /* infinite */
}

@keyframes path{
  100% {stroke-dashoffset: 0;}
}

[data-scroll] {
  opacity: 0;
  will-change: transform, scale, opacity;
  transform: translateY(6rem) scale(0.93);
  transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-scroll='in'] {
  opacity: 1;
  transform: translateY(0) scale(1);
}

[data-scroll='out'] {
  opacity: 0;
}